.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quizgrid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.quizele {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid white;
    background: linear-gradient(135deg,
            #0f3c6e,
            #091034,
            #2a041a);

}

.quizele h2 {
    background: none;
    font-size: 24px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}