*{
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right, lime, cyan);
}

.container{
  display:grid;
  justify-content: center;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem,auto) repeat(5,6rem);
}
.spantwo{
  grid-column: span 2;
}
.output{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(34, 16, 16, 0.75);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
  flex-direction: column;
  padding: 0.5rem;
  grid-column: 1/-1;
}

button{
  background: cyan;
  border: 2px solid greenyellow;
  font-size: 1.5rem;
  font-weight: bold;
  color: darkblue;
  box-shadow: 0 4px 0 darkblue;
  cursor: pointer;
}

.container> button:hover,
.container> button:focus {
  background: deepskyblue;
}